@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

*{
    font-family: 'Marko One', sans-serif;
}

body {
    background-color: #f6f4e8;
}


#omaga {
    border-radius: 5%;
}

.countanier-fluid {
    background-color: black;
}

header {
    background-color: #f6f4e8;
}

footer {
    background-color: #f6f2e7;
}





