@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

* {
    font-family: 'Marko One', sans-serif;
}

header {
    background-color: #f6f4e8;
}

footer {
    background-color: #f6f2e7;
}


#nav li a .active{
    color: black;
}

#nav li a:not(.active){
    color: gray;
}
